<div class="container-fluid">
  <div class="row">
    <main class="col-md-12">
      <h1 class="text-center">Employee Skill Set Tracker - Dashboard</h1>
      <div class="row">
        <div class="col-md-10 data-block">
          <div class="skillset-bar row text-center">
              <div *ngFor="let data of dashboard.skillMapData" [ngStyle]="{'width':data.percentage,'background':data.colour}"><span class="vertical-center">{{data.skill}}</span></div>
          </div>
          <div class="capsule row data text-center">
            <div class="col ">
              <strong>{{dashboard.associates}}</strong><br>
              Regsitered Associates
            </div>
            <div class="col">
              <strong>{{dashboard.maleAssociates}}%</strong><br>
              Male <br>Associates
            </div>
            <div class="col">
              <strong>{{dashboard.femaleAssociates}}%</strong><br>
              Female Associates
            </div>
            <div class="col">
              <strong>{{dashboard.freshers}}%</strong><br>
              Freshers
            </div>
            <div class="col">
              <strong>{{dashboard.rated}}</strong><br>
              Associates <br>Rated
            </div>
            <div class="col">
              <strong>{{dashboard.maleRatedAssociates}}%</strong><br>
              Male Rated Associates
            </div>
            <div class="col">
              <strong>{{dashboard.femaleRatedAssociates}}%</strong><br>
              Female Rated Associates
            </div>
          </div>
        </div>
        <div class="col data-block text-center">
          <div class="capsule">
            <strong>{{dashboard.level3}}%</strong><br>
            Level-3 Associates
          </div>
          <div class="capsule">
            <strong>{{dashboard.level2}}%</strong><br>
            Level-2 Associates
          </div>
          <div class="capsule">
            <strong>{{dashboard.level1}}%</strong><br>
            Level-1 Associates
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Pic</th>
            <th>Status</th>
            <th>Name</th>
            <th>Associate ID</th>
            <th>E-mail</th>
            <th>Cell Phone</th>
            <th>Strong Skills</th>
            <th><button class="btn btn-success" [routerLink] = "['/Add']">Add new Associate</button></th>
          </tr>
          <tr>
            <th colspan="2"><button class="btn btn-primary btn-block" (click)="clearFilters()">Clear Filters</button></th>
            <th><input type="text" [(ngModel)]="searchName" name="searchName" placeholder="Search By Name"></th>
            <th><input type="text" [(ngModel)]="searchId" name="searchId" placeholder="Search By Id"></th>
            <th><input type="text" [(ngModel)]="searchEmail" name="searchEmail" placeholder="Search By E-mail"></th>
            <th><input type="text" [(ngModel)]="searchCell" name="searchCell" placeholder="Search By Cell"></th>
            <th><input type="text" [(ngModel)]="searchSkill" name="searchSkill" placeholder="Search By a skill"></th>
            <th><button class="btn btn-primary btn-block" [routerLink] = "['/Skill']">Manage Skills</button></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let associate of associates | namefilter : searchName | idfilter : searchId | emailfilter : searchEmail
          | mobilefilter : searchCell | skillfilter : searchSkill">
            <td>
              <img [src]="'data:image/PNG;base64,' + associate.image" class="card-img" *ngIf="associate.image">
              <img src="/assets/male.jpg" class="card-img" *ngIf="!associate.image && associate.gender === 'M'">
              <img src="/assets/female.jpg" class="card-img" *ngIf="!associate.image && associate.gender === 'F'">
            </td>
            <td><div [ngClass]="associate.status" class="status"></div></td>
            <td>{{associate.name}}</td>
            <td>{{associate.id}}</td>
            <td>{{associate.email}}</td>
            <td>{{associate.mobile}}</td>
            <td>
              <span *ngFor="let associateSkill of associate.skills">{{associateSkill.level > 10 ? associateSkill.skill.name + ', ':''}}</span>
            </td>
            <td style="width: 15%">
              <button class="btn-warning" [routerLink] = "['/Edit',associate.id]">Edit</button>
              <button class="btn-danger" (click)="delete(associate.id)">Delete</button>
              <button class="btn-info" [routerLink] = "['/View',associate.id]">View</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
