.data-block {
  height: 240px;
}

.skillset-bar {
  height: 160px;
}

.capsule {
  height: 80px;
}

.skillset-bar, .data > div, .data-block > div {
  border: solid;
  border-color: black;
}

.status {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.GREEN {
  background: green;
}

.BLUE {
  background: blue;
}

.RED {
  background: red;
}
